{% load staticfiles %}

<nav class="navbar navbar-expand-md navbar-light bg-light rounded ">
    <div class="container">
        <a href="/"><img src="{% static 'main/img/pixelbasnet.png'%}" style="max-height:75px;"></a>
        <a class="navbar-brand" style="font-family: 'Abril Fatface', cursive; font-size: 40px; line-height: 0.8em;" href="/">SUDEEP<br>BASNET</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse justify-content-end navbar-collapse " style="font-size: 15px; font-family: Poppins; font-weight: bold;" id="navbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/resume/">RESUME</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ADVENTURES</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="pumps">Pumps</a>
                        <a class="dropdown-item" href="unrestapp">Map</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script>
$(document).ready(function() {
    // get current URL path and assign 'active' class
    var pathname = window.location.pathname;
    console.log(pathname);
    $('.navbar-nav > li > a[href="'+pathname+'"]').parent().addClass('active');
})
</script>