/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  max-height: 100%;
}


.footer {
  /*position: relative;*/
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100px; /* Set the fixed height of the footer here */
  line-height: 100px; /* Vertically center the text there */
}
